/* Main Styles */

.wrapper {
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	// background: #ccc;
	position: relative;
	overflow: hidden;

	@media screen and (max-width: 960px) {
		overflow: auto;
	}

	.wrapper--background {
		width: 100%;
		-webkit-animation: bg-comingout 1s;

		@media screen and (max-width: 960px) {
			display: none;
		}
	}

	.content {
		width: 70vw; height: 100%;
		min-width: 320px;
		position: absolute;
		top: 0; left: 15vw;

		@media screen and (max-width: 960px) {
			position: relative;
			width: 100%;
			left: 0; 
		}

		section {
			width: 30vw;
			min-width: 320px;
			height: 100%;	

			@media screen and (max-width: 960px) {
				width: 100%;
			}	
		}

		.contact_container {
			overflow: none;
		}

		.musics, .dates, .contacts {
			background: rgba(237,237,237,.5);
			padding: .8vw 0;
			margin-bottom: .5vw;

			@media screen and (max-width: 960px) {
				width: 100%;
			}

			h3 {
				margin: 0;
				padding: .3vw 1vw;
				// background: $green;
				font: {
					size: 1em;
					weight: 600;
				}
				text-transform: uppercase;
				color: $white;
			}

			h4 {
				margin: 0;
				padding: .5vw 1vw;
				font: {
					size: 1em;
					weight: 600;
				}
				text-transform: capitalize;
			}

			p {
				margin: 0;
				padding: 0 1vw;
				font: {
					size: .8em;
					weight: 400;
				}
				line-height: 1em;
			}

			a {
				margin: 0;
				margin-top: 2vw;
				padding: .5vw 1vw;
				font: {
					size: 1em;
					weight: 600;
				}
				text-transform: lowercase;
				transition: all .2s ease-in-out;

				&:hover {
					color: $black;
					text-decoration: underline;
				}
			}
		}

		.musics {
			h3 { background: $blue; }
		}

		.dates {
			h3 { background: $orange; }
			p { font-size: 1em; }
			img {
				width: 100%;
				height: auto;
				padding: .3vw 1vw;
			}
		}

		.contacts {
			h3 { background: $red; }

			h4 {
				background: $orange;
				margin-top: 2vw;
				color: $white;
				text-transform: uppercase;
				text-align: center;
			}

			form {
				padding: .3vw 1vw;

				label {
					color: $white;
					text-transform: uppercase;
				}
			}
		}

		.band {
			width: 30vw;
			height: 100vh;
			min-width: 320px;
			background: rgba(237,237,237,.5);

			@media screen and (max-width: 960px) {
				width: 100%;
			}

			article {
				padding: .5vw;
				overflow: auto;
				-webkit-overflow-scrolling: touch;
				width: 100%; height: 100%;

				font: {
					weight: 400;
					size: 1em;
				}	

				text-align: justify;
				@media screen and (max-width: 960px) {
					overflow: auto;
					padding: 2px 5px; 
				}
			}	
		}

		.band--upper {
			height: 5vw;

			@media screen and (max-width: 960px) {
				display: none;
			}
		}

		.band--lower {
			//height: 100vh;
			height: 100%;
		}

		.media-content {
			width: 100%;
			height: 100%;
			background: rgba(237,237,237,.5);
			overflow: auto;

			.nav-tabs {
				a {
					text-transform: uppercase;
					
					&:hover {
						color: $black;
						transition: all .2s ease-in-out;
					}
				}
			}

			.media-tab {
				width: 100%;
				padding: 3vw;
				margin-bottom: 5vw;

				.media-tab-content {
					display: flex;
					flex-wrap: wrap;

					.media-tab-content-item {
						width: 100%;
						padding: .5vw;
						flex: 1 1 300px;

						img {
							width: 100%;
							height: auto;
						}
					}
				}
			}
		}

		.media-pages {
			display: none;

			@media screen and (max-width: 960px) {
				top: 0; 
				display: block;
			}
		}
		
		.socialthings {
			position: absolute;
			right: 0;
			width: 25vw; height: 100vh;
			//background: rgba(0,255,0, .5);

			@media screen and (max-width: 960px) {
				position: relative;
				left: 0;
				width: 100%; height: auto;
				margin-top: 10px;
			}

			.logo-white,
			.logo-violet,
			.logo-green,
			.logo-orange,
			.logo-blue,
			.logo-red {
				width: 100%;
				height: 70px;
				height: 10vh;
				@media screen and (max-width: 960px) {
					width: 90%;
					height: 70px;
					text-align: center;
				}
			}

			.youtube, 
			.facebook,
			.instagram,
			.soundcloud {
				width: 2vw; height: 2vw;

				@media screen and (max-width: 960px) {
					width: 25px; height: 25px;
				}
			}

			.socials {
				display: flex;
				justify-content: center;
				text-align: center;

				@media screen and (max-width: 960px) {
					margin-bottom: 5px;
				}

				li {
					width: 2vw; height: 2vw;
					display: inline-block;
					@media screen and (max-width: 960px) {
						width: 25px; height: 25px;
					}
					
					a {
						display: block;
						width: 2vw; height: 2vw;

						opacity: .7;
						transition: all .2s ease-in-out;

						&:hover {
							opacity: 1;
						}

						@media screen and (max-width: 960px) {
							width: 25px; height: 25px;
						}
					}
				}
			}
		}

		.right-bottom { top: 75vh; }
		.right-top { top: 5.5vw; }

		.right-bottom, .right-top {
			@media screen and (max-width: 960px) {
				top: 0;
			}
		}
	}
}

.comingsoon {
		background: rgb(15,15,15);
		height: 100vh;

		.comingsoon--social {
			margin: 0 auto;
			width: 75vw; height: 100%;
			margin-top: 20vh;

			.logo {
				width: 100%;
				height: 100px;
				height: 30vh;
			}
			
			h1 {
				padding-left: 2vw;
				font: {
					size: 5vw;
					weight: 400;
				}
				letter-spacing: 3.5vw;
				color: rgba(252,252,252,.7);
				text-align: center;
				text-transform: uppercase;
			}

			a {
				width: 5vw; height: 5vw;
				margin: 0 auto;

				.facebook {
				margin: 0 auto;
				width: 5vw; height: 5vw;	
				opacity: .7;		
				} 
			}
		}
	}