/* nav styles */
.main__nav {
	ul {
		width: 35vw;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		text-align: center; 
		li {
			display: inline-block; 
			text-align: center;
			padding: .5vh; 
			a {
				position: relative;
				font: {
					weight: 600;
					size: 18px;
					size: 1.5vw;
				}
				letter-spacing: -1px;
				text-transform: uppercase;

				span {
					position: absolute;
					width: 100%;
					top: 100%; left: -999px;
					transition: .2s ease-in-out;
				}

				&:hover span {
					left: 0;
				}

				.active {
					left: 0; 
				}
			}
		}
	}
	@media screen and (max-width: 960px) {
		display: none;
	}
}

.mobile__nav {
	display: none;
	.mobile__nav--toggler {
		width: 100%;
		padding: 5px 5px;
		color: $white;
		border-top: 1px solid $white;
		border-bottom: 1px solid $white;
	}

	.mobile__nav--slider {
		display: none;
		ul {
			width: 100%;
			li {
				text-align: center;
				border-bottom: 1px solid $white;
				width: 100%;
				a {
					display: block;
					padding: 2px 2px;
					width: 100%;
					text-transform: uppercase;

					&:hover {
						transition: .2s ease-in-out;	
					}
				}

				.btn-hover-violet:hover {
					background: $violet;
					opacity: .5;
				}

				.btn-hover-green:hover {
					background: $green;
					opacity: .5;
				}

				.btn-hover-blue:hover {
					background: $blue;
					opacity: .5;
				}

				.btn-hover-orange:hover {
					background: $orange;
					opacity: .5;
				}

				.btn-hover-red:hover {
					background: $red;
					opacity: .5;
				}
			}
		}
	}
	@media screen and (max-width: 960px) {
		display: block;
	}
}


