/* Site Settings */

/* Typography */
$base-font-size: 16px;
$primaryfont: 'Open Sans', sans-serif;

$baseline: $base-font-size * 1.5;

/* Positioning */
$margin-multiplier: 2;
$general-margin: $baseline * $margin-multiplier;

/* Colors */
$violet: #ea0071;
$green: #0fe800;
$blue: #4192e3;
$orange: #ff9600;
$red: #e30000;

$white: #fcfcfc;
$black: #0f0f0f;

$color-link: $white;
