/* Base Styles */


body {
	background: url(../images/noisy-texture-200x200.png) left top repeat;
	// @include background-image(linear-gradient(to right, $white, #dddddd));
	/* basic typography */
	font: {
		family: $primaryfont;
		size: $base-font-size;
		weight: normal;
	}

	height: 100vh;

	color: $black;

	line-height: $baseline;

	-webkit-font-smoothing: antialiased;

	margin: 0;
}


a {
	text-decoration: none;
	color: $color-link;
	&:hover {
		text-decoration: none;
		color: $color-link;	
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav {
	margin: 0;
	padding: 0; 
}

h1,
h2 {

	margin: 0;
	padding: 0;

	font: {
		family: $primaryfont;
		size: 1.5em;
		weight: 700;
	}
}



